<ion-content [fullscreen]="true" class="no-scroll">
  <div class="container">
    <header>
      <!--<ion-img src="/assets/icon/auth/welcome.jpg"></ion-img>-->
      <ion-text color="primary" class="ion-text-center w-100"  >
        <h2 class="ion-no-margin ion-margin-bottom">Register</h2>
      </ion-text>
    </header>
    <form class="auth ion-padding" [formGroup]="form" (submit)="submit()">
      <ion-list lines="none">
        <ion-item>
          <ion-label position="stacked" class="required">Username</ion-label>
          <ion-input
            type="text"
            placeholder="Enter your username"
            formControlName="username"
          ></ion-input>
          @if(form.controls['username'].invalid && form.controls['username'].touched) {
            <ion-text color="danger" class="error">
              <small>El campo no cumple el patron</small>
            </ion-text>
          }
        </ion-item>
        <ion-item>
          <ion-label position="stacked" class="required">Email</ion-label>
          <ion-input
            type="text"
            placeholder="Enter your email"
            formControlName="email"
          ></ion-input>
          @if(form.controls['email'].invalid && form.controls['email'].touched) {
            <ion-text color="danger" class="error">
              <small>El campo no cumple el patron</small>
            </ion-text>
          }
        </ion-item>
        <ion-item>
          <ion-label position="stacked" class="required">Password</ion-label>
          <ion-input
            type="password"
            placeholder="Enter your password"
            formControlName="password"
            autocomplete="new-password"
          >
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
          @if(form.controls['password'].invalid && form.controls['password'].touched) {
            <ion-text color="danger" class="error">
              <small>El campo no cumple el patron</small>
            </ion-text>
          }
        </ion-item>
        <ion-item>
          <app-ion-button-loading
            class="w-100"
            type="submit"
            text="Login"
            [disabled]="form.invalid || loading"
            [loading]="loading"
          ></app-ion-button-loading>
        </ion-item>
        <ion-text
          color="primary"
          class="ion-text-center w-100 separator-container"
        >
          <span class="separator"></span>
          <span class="separator-text">Or register with</span>
          <span class="separator"></span>
        </ion-text>
        <ion-item>
          <ion-grid fixed>
            <ion-row class="ion-justify-content-center">
              <ion-col size="2">
                <ion-button
                  color="google"
                >
                  <ion-icon name="logo-google" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col size="2">
                <ion-button color="facebook">
                  <ion-icon name="logo-facebook" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item>
          <ion-text class="ion-text-center w-100">
            <span>Already Have an account? </span>
            <ion-text color="primary">
              <a routerLink="/auth/signin">Go to sign In</a>
            </ion-text>
          </ion-text>
        </ion-item>
      </ion-list>
    </form>
    <div class="bubble bottom left"></div>
    <div class="bubble small top right"></div>
  </div>
</ion-content>
