.digits-container {
    display: flex;
    justify-content: center;
    gap: 8px;
}
.digit-container {
    width: 48px;
    height: 48px;
    min-width: 48px;
    min-height: 48px;
    border: 1px solid var(--ion-color-primary);
}

ion-input {
    text-align: center;
    color: var(--ion-color-primary);
    font-weight: var(--font-bold);
}