<ion-content [fullscreen]="true" class="no-scroll">
  <div class="container">
    <header>
      <ion-text color="primary" class="ion-text-center w-100"  >
        <h2 class="ion-no-margin ion-margin-bottom">{{'auth.confirmSignup.title' | translate}}</h2>
      </ion-text>
    </header>
    <form class="auth ion-padding" [formGroup]="form" (submit)="submit()">
      <ion-list lines="none">
        <ion-item>
          <app-verify-input [positions]="positions" [label]="'auth.confirmSignup.code' | translate" formControlName="code" class="w-100"></app-verify-input>
          @if(form.controls['code'].invalid && form.controls['code'].touched) {
            <ion-text color="danger" class="error">
              <small>{{'auth.general.errors.required' | translate}}</small>
            </ion-text>
          }
        </ion-item>
        <ion-item>
          <app-ion-button-loading
            class="w-100"
            type="submit"
            [text]="'auth.confirmSignup.btnVerify' | translate"
            [disabled]="form.invalid || loading"
            [loading]="loading"
          ></app-ion-button-loading>
        </ion-item>
      </ion-list>
    </form>
    <div class="bubble bottom left"></div>
    <div class="bubble small top right"></div>
  </div>
</ion-content>
