<ion-content [fullscreen]="true" class="no-scroll">
  <div class="container">
    <header>
      <ion-text color="primary" class="ion-text-center w-100">
        <h2 class="ion-no-margin ion-margin-bottom">
          {{ "auth.resetPassword.title" | translate }}
        </h2>
      </ion-text>
    </header>
    <form class="auth ion-padding" [formGroup]="form" (submit)="submit()">
      <ion-list lines="none">
        @if(step === "SEND_CODE") {
        <ion-item>
          <ion-label position="stacked" class="required">{{
            "auth.general.username" | translate
          }}</ion-label>
          <ion-input
            type="text"
            formControlName="username"
          ></ion-input>
          @if(form.controls['username'].invalid &&
          form.controls['username'].touched) {
          <ion-text color="danger" class="error">
            <small>{{'auth.general.errors.username' | translate}}</small>
          </ion-text>
          }
        </ion-item>
        }@else {
        <ion-item>
          <app-verify-input
            [positions]="positions"
            [label]="'auth.confirmSignup.code' | translate"
            formControlName="code"
            class="w-100"
          ></app-verify-input>
          @if(form.controls['code'].invalid && form.controls['code'].touched) {
          <ion-text color="danger" class="error">
            <small>{{'auth.general.errors.required' | translate}}</small>
          </ion-text>
          }
        </ion-item>
        <ion-item>
          <ion-label position="stacked" class="required">{{
            "auth.general.password" | translate
          }}</ion-label>
          <ion-input
            type="password"
            formControlName="password"
          >
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
          @if(form.controls['password'].invalid &&
          form.controls['password'].touched && !form.errors?.['mismatch'])
          {
          <ion-text color="danger" class="error">
            <small>{{'auth.general.errors.password' | translate}}</small>
          </ion-text>
          } @if(form.errors?.['mismatch'] && (form.controls['password'].touched
          && form.controls['repeatPassword'].touched)) {
          <ion-text color="danger" class="error">
            <small>{{'auth.general.errors.passwordMismatch' | translate}}</small>
          </ion-text>
          }
        </ion-item>
        <ion-item>
          <ion-label position="stacked" class="required">{{
            "auth.resetPassword.repeatPassword" | translate
          }}</ion-label>
          <ion-input
            type="password"

            formControlName="repeatPassword"
            autocomplete="new-password"
          >
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
          @if(form.controls['repeatPassword'].invalid &&
          form.controls['repeatPassword'].touched && !form.errors?.['mismatch'])
          {
          <ion-text color="danger" class="error">
            <small>{{'auth.general.errors.password' | translate}}</small>
          </ion-text>
          } @if(form.errors?.['mismatch'] && (form.controls['password'].touched
          && form.controls['repeatPassword'].touched)) {
          <ion-text color="danger" class="error">
            <small>{{'auth.general.errors.passwordMismatch' | translate}}</small>
          </ion-text>
          }
        </ion-item>

        <ion-item>
          <ion-button
            type="button"
            expand="block"
            fill="clear"
            (click)="resendCode()"
            [disabled]="timer !== 0"
          >
            @if(timer === 0) {
            <ion-label>{{
              "auth.resetPassword.resendCode" | translate
            }}</ion-label>
            } @else {
            <span>{{
              "auth.resetPassword.tryAgain" | translate : { time: timer }
            }}</span>
            }
          </ion-button>
        </ion-item>
        }
        <ion-item>
          <app-ion-button-loading
            class="w-100"
            type="submit"
            [text]="'auth.general.send' | translate"
            [disabled]="
              loading ||
              (step === 'SEND_CODE' &&
                this.form.controls['username'].invalid) ||
              (step === 'RESET_PASSWORD' && this.form.invalid)
            "
            [loading]="loading"
          ></app-ion-button-loading>
        </ion-item>
      </ion-list>
    </form>
    <div class="bubble bottom left"></div>
    <div class="bubble small top right"></div>
  </div>
</ion-content>
